h1 {
	color: red;
	font-weight: bold;
}

div {
	height: 80px;
	width: 120px;
	border-color: #6495ed;
	background-color: #bcd2ee;
	border-style: 2px solid
	border-radius: 5px;
	margin: auto;
	text-align: center;
}
    
a {
	text-decoration: none;
	color: #3d59ab;
	font-family: Verdana;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}